@keyframes app-shell-loader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-shell {
  animation: app-shell-loader 2s ease-in 0s 1 normal forwards;
  background-color: white;
  max-width: 1680px;
  margin: auto;
}

.main {
  width: 100%;
  min-height: 10rem;
  background-color: white;
}
