@mixin expand {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.jk-aspect-ratio-target {
  width: 100%;
  padding-top: 75%;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: 50%;
  }
}

.jk-aspect-ratio-outlet {
  @include expand;
}

.jk-hero {
  &-image {
    @include expand;

    align-items: center;
    background-image: url('/assets/photos/engagement_01.jpg');
    background-position: 50% 0%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-box {
    color: white;
    display: block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    &-info {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-transform: uppercase;

      &-item {
        font-family: proxima-nova-condensed, sans-serif;
        font-size: .8rem;
        margin-bottom: .125rem;

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 1.5rem;
        }
      }
    }

    &-names {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: .25rem;

      &-joshua,
      &-kaitlin {
        font-size: 1.875rem;
        text-transform: uppercase;
        font-family: linotype-didot-headline, serif;

        @include media-breakpoint-up(sm) {
          font-size: 3rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 4.5rem;
        }
      }

      &-and {
        font-family: beloved-script, sans-serif;
        font-size: 1.5rem;
        margin-left: .25rem;
        margin-right: .25rem;

        @include media-breakpoint-up(sm) {
          font-size: 2.5rem;
          margin-left: .5rem;
          margin-right: .5rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 3.5rem;
          margin-left: .75rem;
          margin-right: .75rem;
        }
      }
    }

    &-cta {
      width: 100%;

      &-link {
        background-color: white;
        color: black;
        display: block;
        font-family: proxima-nova-condensed, sans-serif;
        font-size: .8rem;
        line-height: 1;
        padding: .8rem;
        text-align: center;
        text-transform: uppercase;

        @include hover {
          color: green;
          text-decoration: none;
        }

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
  }
}
