.jk-story {
  background-color: #5d786d;
  color: white;
  margin-top: 8rem;
  padding-bottom: 8rem;
  padding-top: 8rem;

  &-title {
    font-family: beloved-script, sans-serif;
    font-size: 5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 4rem;
  }
}
